{
  "development": {
    "username": // User name
    "password": // User password
    "database": // Name of database
    "host": // Database host
    "port": // Database port
    "dialect": // Database dialect
  }
}